//TODO: 버튼 길이 뭔가 더 이쁘게 맞추는 방법이 있을 것 같음

.CalcWrap {
  width: 18.5rem; /** //TODO: 한칸당 가로 길이 수 *n 해서 props로 받은 값을 n에 넣는 방식으로.. */
  height: 28rem;
  margin: 20px;
  border-radius: 10px 10px 20px;
  box-shadow: 3px 3px 50px gray;
};

.CalcRsltBlock {  
  height: 25%;
  padding-right: 10px;
  background: dimgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3rem;
  color: white;
  border-radius: 10px 10px 0 0 ;
  border: 1px solid black;
  border-bottom-style: none;
};

.CalcNumBlcok {  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 10px 10px;
  border-bottom: 1px solid black;
};

.CalcNumKey {  
  width: 24.55%;
  display:flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid black;
  border-top: 0.5px solid black;
  font-weight: bold;
  height:66px;
  
  &.number{
    background:darkgrey;
    color:white;
    width: 32.88%;
  }

  &.dot{
    @extend .number;
  }

  &.zero{
    @extend .number;
    width:66.2%;
    border-radius: 0 0 0 10px;
  }

  &.top{
    background:grey;
    color:white;
    width: 33.3%;
  }

  &.sign{
    background:orange;
    color:white;
    border-right: 1px solid black;
    width: 100%;
  }

  &.equal{
    @extend .sign;
    border-radius: 0 0 10px 0;
  }

}

.LeftCal{
  display: flex;
  flex-direction: column;
  width: 74.2%;
}

.TopKey{
  display:flex;
  width: 100%;
}

.SignKey{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 25%;
}

.NumKey{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.MathExWrap{
  margin: 20px;
  display: flex;
}