.CalcWrap {
  /** //TODO: 한칸당 가로 길이 수 *n 해서 props로 받은 값을 n에 넣는 방식으로.. */
  width: 72px * 4;
  height: 447px;
  margin: 20px;
  border-radius: 10px 10px 10px;
  box-shadow: 3px 3px 50px gray;
  border: 1px solid black;
};

.CalcRsltBlock {  
  height: 25%;
  padding-right: 10px;
  background: dimgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 3rem; //TODO: 8-9자리까지는 ok 그 다음부터는 넘침미다...
  color: white;
  border-radius: 9px 9px 0 0;
  border-bottom-style: none;
};

.CalcNumBlcok {  
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 9px 9px;
};

.CalcNumKey {  
  width: 4.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height:66px;
  
  &.number{
    background:darkgrey;
    color:white;
    width: 4.43rem;
    border-right: 1px solid black;
    border-top: 1px solid black;
  }

  &.dot{
    @extend .number;
  }

  &.zero{
    @extend .number;
    width: 143px;
    border-radius: 0 0 0 9px;
  }

  &.top{
    background:grey;
    color:white;
    width: 4.5rem;
    border: 1px solid black;
    border-left-style: none;
    border-bottom-style: none;
  }

  &.sign{
    background:orange;
    color:white;
    border-top: 1px solid black;;
    width: 100%;
  }

  &.equal{
    @extend .sign;
    border-radius: 0 0 9px 0;
  }

}

.engtemmmm{
  display: flex;
}
.EngnWrap{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background: gray;
  width: 72px * 6 + 6;
}

.LeftCal{
  display: flex;
  flex-direction: column;
  width: 72px * 3;
}

.TopKey{
  display:flex;
  width: 100%;
}

.SignKey{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 72px;
}

.NumKey{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.MathExWrap{
  margin: 20px;
  display: flex;
}

.PreSuperScr {
  font-size: 12px;
  position: relative;
  top:-5px;
}
.SuperScr {
  font-size: 12px;
  position: relative;
  top:-5px;
}

.SubScr {
  font-size: 12px;
  position: relative; 
  top:5px;
}